.container {
  min-height: 100vh;
  padding: 8px;
}

.container h1 {
  color: #303943;

  margin: 8px;
}

.pokemon-card-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .pokemon-card-wrapper {
    justify-content: start;
  }
}
